<div layout="column" layout-fill>
	<md-toolbar layout="row">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-click="vmtoogle()">
				<ng-md-icon icon="menu"></ng-md-icon>
			</md-button>
			<h4>Toolbar</h4>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Favorite">
		      	<ng-md-icon icon="more_vert"></ng-md-icon>
	        </md-button>
		</div>
	</md-toolbar>
	<md-content layout-padding flex layout-wrap>
		<md-list>
		    <md-list-item class="md-3-line md-long-text">
	        	<ng-md-icon icon="send" size="44"></ng-md-icon> 
			    <div class="md-list-item-text">
			        <h3>Something</h3>
			        <p>
			          	Secondary line text Lorem ipsum dolor sit amet,consectetur adipiscing elit. Nam massa quam.
			            Nulla metus metus, ullamcorper vel, tincidunt sed, euismodin, nibh. Quisque volutpat condimentum
			            velit. Class aptent taciti sociosqu ad litra torquent perconubia nostra, per inceptos himenaeos.
			        </p>
		        </div>
		    </md-list-item>
		    <md-list-item class="md-3-line md-long-text">
	        	<ng-md-icon icon="cloud" size="44"></ng-md-icon> 
			    <div class="md-list-item-text">
			        <h3>Something</h3>
			        <p>
			           	Secondary line text Lorem ipsum dolor sit amet,consectetur adipiscing elit. Nam massa quam.
			            Nulla metus metus, ullamcorper vel, tincidunt sed, euismodin, nibh. Quisque volutpat condimentum
			            velit. Class aptent taciti sociosqu ad litra torquent perconubia nostra, per inceptos himenaeos.
			        </p>
		        </div>
		    </md-list-item>
		</md-list>
		<p>    
			Facete delenit argumentum cum at. Pro rebum nostrum contentiones ad. Mel exerci tritani maiorum at, mea te audire phaedrum, mel et nibh aliquam. Malis causae equidem vel eu. Noster melius vis ea, duis alterum oporteatea sea. Per cu vide munere fierent.
		</p>
	</md-content>
</div>	